/* @import "tailwindcss"; */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    Segoe UI,
    Arial,
    Helvetica,
    sans-serif !important;
  font-size: 16px !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-white: hsl(0deg, 0%, 100%);
  --color-gray-100: hsl(185deg, 5%, 95%);
  --color-gray-300: hsl(190deg, 5%, 80%);
  --color-gray-500: hsl(196deg, 4%, 60%);
  --color-gray-700: hsl(220deg, 5%, 40%);
  --color-gray-900: hsl(220deg, 3%, 20%);
  --color-primary: hsl(340deg, 65%, 47%);
  --color-secondary: hsl(240deg, 60%, 63%);

  --weight-light: 400;
  --weight-normal: 500;
  --weight-medium: 600;
  --weight-bold: 800;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
